#############################################################################################
####################################### Fichiers à ignoré ###################################
##############################################################################################
.vscode\
_pycache_
